// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/* resources/css/app.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FAF3F0 !important;
    padding: 10px;
    border-radius: 20px;
}

.search-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrapping{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
}

.card-container{
    margin: 20px;
    background-color: #D4E2D4;
    padding: 20px;
    border-radius: 10px;
    color: #BA704F;
    width: 270px;
}

.inside-card{
    margin: 20px;
}
.inside-card a{
    color: #BA704F !important;
}

.action-btns{
    padding: 7px 10px !important;
    font-size: 15px;
    color: black;
    margin: 10px 20px;
    border-radius: 5px;
    background-color: #91C8E4 !important;
    border: none;
}

.top-btns{
    padding: 7px 10px !important;
    font-size: 15px;
    color: #FFDBAA;
    margin: 10px 20px;
    border-radius: 5px;
    background-color: #4682A9  !important;
    border: none;
}

.flex{
    display: flex;
    align-items: center;
    input{
        padding: 19px;
        font-size: 15px;
    }
}

// Show Card

.view-card{
    background-color: #D4E2D4;
    text-align: center;
    color: #BA704F;
    font-size: 20px;
    p{
        margin: 20px 0;
    }
}

.top-cont{
    font-size: 25px;
    background-color: #F6F4EB;
    a{
        color: #91C8E4 !important;
    }
}

// form 

.form-style{
    background-color: #D4E2D4 !important;
    color: #BA704F;
    font-size: 20px;
}

.form-group{
    margin: 20px 0 !important;
}

.create-head{
    text-align: center;
    color: #BA704F;
    margin: 50px 0;
}

// Navbar

.navbar-style{
    background-color: #FFDBAA;
    a{
        font-size: 17px !important;
        margin-left: 30px;
    }
}

// .navbar-style > a{
//     font-size: 15px !important;
  
// }

.top-dash{
    display: flex;
    justify-content: space-evenly !important;
    align-items: center;
    background-color: #FAF3F0 !important;
}

.user-drop{
    background-color: #749BC2;
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    height: auto !important;
    padding: 10px 20px !important;
}

.drop-it{
    font-size: 15px;
    color: #fff;
    border-radius: 5px;
    width: 75px !important;
    a:hover{
        // background-color: #749BC2;
        width: 75px !important;

    }
}